# PARAMETROS PARA CONSULTA EM SRV_DB01/PROTHEUS NA VIEW RDR RECEBIMENTOS

DB_SERVER=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=ODBC Driver 18 for SQL Server

# PARAMETROS PARA API COM PROTHEUS

PROTHEUS_BASE_URL=
PROTHEUS_USER=
PROTHEUS_PASSWORD=
PROTHEUS_TIMEOUT=10

SECRET_KEY=

# PARAMETROS DO USUARIO USERBI PARA CRIAR E GERIR AS TABELAS EM DB.COTACOES

DB_DDL_USERNAME=
DB_DDL_PASSWORD=
