
.venv/
venv/
env/

.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class

*.egg-info/
dist/
build/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

'RO-PR-051_Relatório_Diário_de_Recebimento (2026) (novo)'
'RO-PR-051_Relatório_Diário_de_Recebimento (2026) (novo).xslx'
RO-PR-051_Relatório_Diário_de_Recebimento (2026) (novo)
RO-PR-051_Relatório_Diário_de_Recebimento (2026) (novo).xslx