@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --azul_ia: 0, 94, 132;
    --azul_escuro_ia: 0, 35, 68;
    --off_white: 255, 255, 246;
}

/*============================= CONFIGURAÇÕES DO HEADER ======================================== */

/* CONFIGURAÇÕES GERAIS DO HEADER */

#id_header {
    background-color: rgb(var(--azul_ia));
    width: 100%;
    color: rgb(var(--off_white));
    font-family: "Quicksand", system-ui, -apple-system, "Segoe UI", sans-serif;
    padding: 0;
    margin: 0;
}

#id_header > .row {
    margin-left: 0;
    margin-right: 0;
}

#id_logo_ia_header {
    max-width: 35%;
    max-height: 100%;
}

#id_top_row_header {
    align-items: center;

    padding: 15px 2%;
    margin: 0;
}

#id_top_row_header h1 {
    margin: 0;
    font-weight:600;
}

#id_under_row_header {
    min-height: 55px;
    background-color: rgb(var(--azul_escuro_ia));
    align-items: center;

    padding: 8px 2%;
    margin: 0;
}

/* FIM - CONFIGURAÇÕES GERAIS DO HEADER */

/* CONFIGURAÇÕES DOS BOTÕES DO HEADER */

a.class_link_button {
    border: 2px solid rgb(var(--off_white));
    border-radius: 2px;
    color: rgb(var(--off_white));
    width: 150px;
    padding: 3px 0;

    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
}

a.class_link_button:hover {
    text-decoration:underline;
    background-color: rgb(var(--azul_ia));
}

/* FIM - CONFIGURAÇÕES DOS BOTÕES DO HEADER */

/* CONFIGURAÇÕES DO BOTÃO DE LOGOUT */

#id_div_botao_logout{
    background-color: rgb(var(--azul_ia));
    border: 2px solid rgb(var(--off_white));
    border-radius: 25px;
    align-items: center;
    justify-content: right;
    display: flex;
    padding: 1px;
    margin: 1px;
}

a.class_botao_logout{
    text-decoration: none;
    color: rgb(var(--off_white));
    padding: 0 5px;
    justify-content: center;
}

a.class_botao_logout:hover{
    color: rgb(var(--azul_escuro_ia));
    font-weight: bold;
}

#id_div_botao_logout:has(a.class_botao_logout:hover){
    background-color: rgb(var(--off_white));
    border: 2px solid rgb(var(--azul_ia));
}


#id_icone_sair_header{
    width: 33px;
    height: 33px;
}
    

/*============================= CONFIGURAÇÕES DO HEADER ======================================== */