{% for entrada in form.instrumentos %}

<div class="row g-2-mb-2 linha_instrumentos">
    <div class="col-11">
        {{ entrada.instrumento_id.label(class="form-label") }}
        {{ entrada.instrumento_id(class="form-select")}}
        {% for erro in entrada.instrumento_id.errors %}
            <div class="text-danger small">{{ erro }}</div>
        {% endfor %}
    </div>

    <div class="col-1 d-flex align-items-end">
        <button type="button" class="btn btn-sm btn-outline-danger"
        onclick="this.closest(';linha_instrumentos').remove()">X</button>
    </div>
</div>

{% endfor %}

{% for erro in form.instrumentos.errors if erro is string %}
    <div class="text-danger small">{{ erro }}</div>
{% endfor %}