{% extends 'base.html' %}

{% block titulo %}Hello world!{% endblock %}

{% block content %}

<div class="container mt-2" id="div_filters">
    <div class="row" id="row_over_filter_index">
        <button type="button" class="id_abrir_modal_pedido_de_compra" data-bs-toggle="modal" data-bs-target="#janela_modal_recebimento">
        Adicionar recebimento
        </button>
    </div>
</div>

<div class="container p-1">
    <div id="table_index">

    <table class="table table-hover">
        <thead id="index_table_head" class="align-middle text-center">
            <tr>
                <td>Pedido/Item</td>
                <td>Produto</td>
                <td>Descrição</td>
                <td>Quantidade</td>
                <td>Fornecedor</td>
                <td>Data emissão</td>
                <td>Nota fiscal</td>
                <td>Especificação</td>
            </tr>
        </thead>
        <tbody class="align-middle text-center">

            {% for linha in linhas %}
            <tr>
                <td>{{ linha.pedido + '/' + linha.item }}</td>
                <td>{{ linha.produto }}</td>
                <td>{{ linha.descricao }}</td>
                <td>{{ linha.quantidade }}</td>
                <td>{{ linha.nome_fornecedor }}</td>
                <td>{{ linha.dt_emissao }}</td>
                <td>{{ linha.nota_fiscal }}</td>
                <td>{{ linha.b1_iaespec }}</td>
            </tr>
            {% else %}
                <tr><td>Essa lista está vazia</td></tr>
            {% endfor %}
        </tbody>

    </table>


    </div>
</div>

<!-- ETAPA 1 - PEDIDO DE COMPRA -->

<div class="modal fade" id="janela_modal_recebimento" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Adicionar recebimentos</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form hx-post="{{ url_for('buscar_notas') }}"
                      hx-target="#resultado_busca_nf"
                      hx-swap="innerHTML">

                    <label for="pedido_de_compra" class="form-label">Pedido de compra</label>
                    <input type="text"
                           id="pedido_de_compra"
                           name="pedido_de_compra"
                           class="form-control"
                           placeholder="######-####">
                    <button type="submit" class="btn btn-primary mt-2">OK</button>

                </form>

                <div id="resultado_busca_nf"></div>
            </div>

        </div>
    </div>
</div>

<!-- ETAPA 2 - CHECKLIST DE CONFERÊNCIA -->

<div class="modal fade" id="modal_recebimento" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Checklist de recebimento</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" id="corpo_modal_conferencia">
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

{% endblock %}
